.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;

  .primary-heading {
    font-size: 3em;
    color: #4c4c4c;
    max-width: 600px;

    h1 {
      max-width: 15rem !important;
    }
  }
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
  }

  .primary-subheading {
    font-weight: 700;
    color: #fe9e0d;
    font-size: 1.15rem;
  }
  .contact-form-container {
    background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
    input {
      flex: 1;
      height: 100%;
      border: none;
      outline: none;
      font-size: 1.3rem;
      padding: 0.5rem 1rem;
    }
    .secondary-button {
      padding: 1rem 2.5rem;
      background-color: #fe9e0d;
      outline: none;
      border: none;
      border-radius: 5rem;
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: 600;
      color: white;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-left: 0.75rem;
        font-size: 1.5rem;
      }
      &:hover {
        background-color: #e48f0f;
      }
    }
  }
}
